body {
    background-color: #f4f4f4;
    color: #333;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}
.container{
    width: 45%;
    margin: 10px;
}
.box{
    background-color: darkgrey;
    color: white;
    margin: 1.5px;
}
.card :nth-child(4){
display: flex;
flex-grow: 1;
flex-wrap: wrap;
}
.card nav{
    display: flex;
    flex-grow: 1;
}
img{
margin: 2%;
}
header{
    background-color: red;
}
.logo{
    color:white;
}
.logo2{
    color: greenyellow;
}
.container2{
    width: 31%;
    margin: 10px;
}
.logo3{
    color: blue;
}
.logo4{
color:grey;
}
